:host {
  input::placeholder {
    color: #6C757D;
  }

  .form-control {
    border-color: #fff;
  }

  .form-control-range {
    margin-top: -5px;
    height: 4px;
    // background: #CED4DA;
  }

  .input__form {
    position: relative;
  }

  .subtext {
    display: inline-block;
    font-size: 11px;
    margin-top: 12px;
  }

  .slider-range {
    position: absolute;
    content: '';
    top: 35px;
    left: -8px;
    width: 100%;
    height: 0;
    padding: 0;
  }

  .slider-block {
    position: relative;
  }

  mat-slider {
    height: 5px;
    padding: 2px 0;
  }

  ::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
    top: 19px;
    width: 100%;
    // padding: 2px;
  }

  ::ng-deep .mat-slider-horizontal .mat-slider-track-wrapper {
    border-radius: 0 0 4px 4px !important;
  }

  ::ng-deep .mat-form-field {
    width: 100%;
  }

  ::ng-deep .mat-slider-horizontal .mat-slider-track-background {
    background-color: #4DB56D;
  }

  ::ng-deep .mat-form-field-infix {
    height: 56px;
    border-width: 21px;
    padding-top: 1px;
    padding-bottom: 11px;
    padding-left: 16px;
    padding-right: 16px;
  }

  ::ng-deep .mat-form-field-label-wrapper {
    top: -20px !important;
  }

  // ::ng-deep .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
  // ::ng-deep .mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
  //   transform: translateY(-15px) scale(0.75) !important;
  // }

  //slider and inputs
  .mat-button-toggle-cheked {
    color: #4DB56D;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }

  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
      color: white;
    }
  }

  ::ng-deep mat-label {
    padding-top: 10px !important;
    padding-left: 20px;
  }

  ::ng-deep .mat-slider:not(.mat-slider-disabled).cdk-mouse-focused .mat-slider-thumb {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }


}
