<div class="slider-block">

  <div class="input__form">
    <mat-form-field class="example-full-width">
      <mat-label>{{ label }}</mat-label>

      <input matInput
        matInputCommified
        digitOnly
        type="text"
        [ngModel]="value"
        (ngModelChange)="onChange(+$event)"
        [placeholder]="placeholder"
        [min]="min"
        [max]="max"
        [id]="id"
        [name]="name"
        [maxlength]="maxlength"
        autocomplete="off">
    </mat-form-field>

    <mat-slider
      [ngModel]="value"
      (input)="onChange($event.value)"
      [min]="min"
      [max]="max"
      [id]="id + '_range'"
      [name]="name + '_range'"
      [step]="step"
      class="slider-range"
    >
    </mat-slider>

    <ng-container *ngIf="subtext">
      <span class="subtext">{{subtext}}</span>
    </ng-container>
  </div>
</div>
